name: Daily build

on:
  repository_dispatch:
    types:
      check_connector_for_breaking_changes

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11

      - name: Set environment variable
        if: github.event.action == 'check_connector_for_breaking_changes'
        run: |
          echo "BUILD_USING_DOCKER=-PbuildUsingDocker=nightly" >> $GITHUB_ENV
          echo "GRADLE_SKIP_TASKS=-x :nats-compiler-plugin-tests:test"  >> $GITHUB_ENV

      # Build the project with Gradle
      - name: Build with Gradle
        env:
          packageUser: ${{ github.actor }}
          packagePAT: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./gradlew clean build $GRADLE_SKIP_TASKS $BUILD_USING_DOCKER

      - name: Notify failure
        if: ${{ failure() }}
        run: |
          eventType="notify-build-failure"

          if [[ "${{ github.event.action }}" == "check_connector_for_breaking_changes" ]]; then
            eventType="notify-ballerinax-connector-build-failure"
          fi

          curl -X POST \
          'https://api.github.com/repos/ballerina-platform/ballerina-release/dispatches' \
          -H 'Accept: application/vnd.github.v3+json' \
          -H 'Authorization: Bearer ${{ secrets.BALLERINA_BOT_TOKEN }}' \
          --data "{
            \"event_type\": \"$eventType\",
            \"client_payload\": {
              \"repoName\": \"module-ballerinax-nats\",
              \"workflow\": \"Daily build\"
            }
          }"
